body {
    background-color: black;
    color: white;
    
    font-family: monospace;
    font-weight: 400;
 
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding-left: 10px;
    align-items: center;

}

h1 {
    font-size: 36px;
    font-weight: 350;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 18px;
    max-width: 80%;
}
ul {
    display: flex;
    flex-direction: column; 
    align-items: left; 
}

li {
    margin: 5px 0; 
    font-size: 18px;
}

.Header h1,.Header p {
    font-size: 36px;
    font-weight: 350;
    display: inline;
    text-shadow: 1px 1px 3px white;
}
.container{
    display: grid;
    grid: 1fr / 1fr 1fr;
   gap: 50px; 
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.underline {
    animation: 2s showNhide infinite;
}
@media screen and (max-width: 700px) {

    .container{
        grid: 1fr 1fr / 1fr ;
    }

}
@keyframes showNhide {
    0%, 49% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}
